@font-face {
	font-family: 'NestleText-Bold';
	src: url('../assets/fonts/NestleText-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'NestleText-BoldItalic';
	src: url('../assets/fonts/NestleText-BoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'NestleText-Book';
	src: url('../assets/fonts/NestleText-Book.otf') format('opentype');
}

@font-face {
	font-family: 'NestleText-Italic';
	src: url('../assets/fonts/NestleText-Italic.otf') format('opentype');
}

@font-face {
	font-family: 'NestleText-Light';
	src: url('../assets/fonts/NestleText-Light.otf') format('opentype');
}

@font-face {
	font-family: 'NestleText-LightItalic';
	src: url('../assets/fonts/NestleText-LightItalic.otf') format('opentype');
}


:root {
	--grey: #EAEAEA;
	--lightGrey: #F7F1EC;
	--darkGrey: #DBCCC0;
	--paginators: #F2EAE4;
	--brown: #99644C;
	--brownBorder: #6D3921;
	--greyBorder: #F1EBE6;
	--error: #FD5050;
	--focus: #5B4D3C;
	--grey-background: rgba(219, 204, 192, 0.2);
	--traditional-grey: #707070;
	--orange: #EA613B;
	--paginateHover: #DBCCC0;
	--borderInput: #DBCCC0;
	--darkBrown: #211E1E;
	--blueTag: #1C9CC8;
	--yellowTag: #E6C003;
	--orangeTag: #EA873B;
	--greenTag: #35CE8D;
	--redTag: #FD5050;
	--optionButton: #FF585D;
	--bigRadius: 20px;
	--mediumRadius1: 15px;
	--mediumRadius2: 10px;
	--NestleText-Bold: 'NestleText-Bold';
	--NestleText-BoldItalic: 'NestleText-BoldItalic';
	--NestleText-Book: 'NestleText-Book';
	--NestleText-Italic: 'NestleText-Italic';
	--NestleText-Light: 'NestleText-Light';
	--NestleText-LightItalic: 'NestleText-LightItalic';
	--font1: 32px;
	--font2: 24px;
	--font3: 20px;
	--font4: 18px;
	--font5: 16px;
	--font6: 12px;
	--transitionLow: all 1.5s;
	--transitionMedium: all 1s;
	--transitionFast: all 500ms;
}

@media (max-width: 1600px) {
	:root {
		--font1: calc(32px * 0.75);
		--font2: calc(24px * 0.75);
		--font3: calc(20px * 0.75);
		--font4: calc(18px * 0.75);
		--font5: calc(16px * 0.75);
		--font6: calc(12px * 0.80);
		--bigRadius: 15px;
		--mediumRadius1: 10px;
		--mediumRadius2: 5px;
	}
}

@media (max-width: 1024px) {
	:root {
		--font1: calc(32px * 0.60);
		--font2: calc(24px * 0.60);
		--font3: calc(20px * 0.60);
		--font4: calc(18px * 0.60);
		--font5: calc(16px * 0.60);
		--font6: calc(12px * 0.80);
	}
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--lightGrey);
}