@media(max-width: 1900px) {

	.campaigns .card .infos .data:nth-child(1) {
		margin: 0px;
		margin-bottom: 20px;
	}
}

@media(max-width: 1600px) {

	header {
		padding: 20px 40px;
	}

	header .logout {
		top: 32.5px;
	}

	.login {
		min-height: calc(100vh - 80px);
	}

	.campaigns .card .infos div {
		width: 100%;
		float: none;
	}

	.campaigns .card p {
		float: left;
	}

	.group-detail-inner .paginate a {
		width: max-content;
		text-align: center;
		margin: 0 auto;
		min-width: 200px;
		margin-top: 40px;
	}

	.group-detail-inner .paginate p,
	.group-detail-inner .paginate div.less,
	.group-detail-inner .paginate div.more {
		width: 45px;
		padding: 17px 20px;
		height: 50px;
	}

	.group-detail-inner .paginate {
		padding-bottom: 40px;
	}

	.group-detail-inner .pages {
		margin: 0px 20px;
	}

	.group-detail-inner .pages p:nth-child(4),
	.group-detail-inner .pages p:nth-child(5) {
		display: none;
	}

	.group-detail .content form .order-amount div {
		padding: 20px 15px;
	}

	.campaigns .card .infos .data {
		padding: 15px;
	}

	.campaigns .card {
		padding: 20px;
	}

	.group h1 {
		margin-bottom: 30px;
	}

	.login form {
		padding: 30px;
	}

	.login form h1 {
		margin-bottom: 20px;
	}

	.login form label {
		margin-bottom: 10px;
	}

	.group-local .orders.delivery .not-sent-options button:before,
	.group-detail-inner .orders.delivery .not-sent-options button:before {
		margin-top: 1px;
		height: 10px;
		width: 7px;
	}

	header .logout:after {
		margin-top: -2px;
	}

	.group .path a:after,
	.group-detail .path a:after,
	.group-detail-inner .path a:after,
	.group-local .path a:after {
		width: 6px;
		height: 10px;
		margin-top: 1px;
	}
}

@media(max-width: 1260px) {
	.campaigns .card .infos div {
		width: 100%;
		float: none;
	}

	.group .card .content-wrapper .infos,
	.group-detail .card .content-wrapper .infos,
	.group-local .card .content-wrapper .infos,
	.group-detail-inner .card .content-wrapper .infos {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
		width: 100%;
	}

	.campaigns .card {
		position: relative;
	}

	.campaigns .card p {
		float: left;
	}

	.campaigns .card .infos {
		margin-bottom: 0px;
	}

	.campaigns .card .title {
		margin-bottom: 20px;
	}

	footer {
		display: block;
	}

	header .logout {
		display: none;
	}

	.group .info-title,
	.group .content-title,
	.group-detail .info-title,
	.group-detail .content-title,
	.group-local .info-title,
	.group-local .content-title,
	.group-detail-inner .info-title,
	.group-detail-inner .content-title {
		float: none;
	}

	.group .card .infos .data,
	.group-detail .card .infos .data,
	.group-local .card .infos .data,
	.group-detail-inner .card .infos .data {
		margin-bottom: 10px;
	}

	.group-local .orders.delivery .first-data,
	.group-detail-innerrders.delivery .first-data {
		float: none;
	}

	.group-detail-inner .orders.delivery .first-data {
		float: none;
	}

	.group-local .orders.delivery .introduction-data button,
	.group-detail-inner .orders.delivery .introduction-data button,
	.group-detail-inner .paginate a {
		float: none;
		padding: 23px 15px;
		border-radius: var(--mediumRadius2);
		margin-top: 20px;
	}

	.group-detail-inner .up,
	.group-detail .up,
	.group-local .up,
	.group .up.active {
		padding: 20px;
		border-radius: var(--mediumRadius1);
	}
}

@media (max-width: 1024px) {

	header div img {
		height: auto;
		width: 100%;
		max-width: 350px
	}

	header div {
		width: 100%;
		height: 100%;
		padding: 0px 20px;
		text-align: center;
	}

	.login {
		max-width: calc(100vw - 40px);
		height: calc(100vh - 110px);
		overflow: auto;
		margin-top: 40px;
	}


	.login form {
		width: 100%;
		position: relative;
		top: 0px;
		left: 0px;
		transform: none;
		border-radius: var(--mediumRadius1);
	}

	.login form button {
		border-radius: var(--mediumRadius1);
	}

	.login form label {
		margin-bottom: 10px;
	}

	.campaigns .content {
		grid-template-columns: 1fr;
		padding-bottom: 0px;
	}

	.campaigns,
	.group,
	.group-detail,
	.group-local,
	.group-detail-inner {
		max-width: calc(100% - 40px);
		width: 100%;
		padding-top: 40px;
	}

	.campaigns h1 {
		margin-bottom: 20px;
	}

	.group .content-title {
		float: none;
	}

	.group .card .content-wrapper:nth-child(1),
	.group .card .content-wrapper:nth-child(2),
	.group-detail .card .content-wrapper:nth-child(1),
	.group-detail .card .content-wrapper:nth-child(2),
	.group-local .card .content-wrapper:nth-child(1),
	.group-local .card .content-wrapper:nth-child(2),
	.group-detail-inner .card .content-wrapper:nth-child(1),
	.group-detail-inner .card .content-wrapper:nth-child(2) {
		float: none;
		width: 100%;
	}

	.group .path a,
	.group-detail .path a,
	.group-local .path a,
	.group-detail-inner .path a {
		margin-bottom: 10px;
	}

	.group .card a,
	.group .card .update,
	.group-detail .card .update,
	.group-local .card .update,
	.group-detail-inner .card .update {
		float: none;
		text-align: start;
	}

	.group .card h2,
	.group-detail .card h2,
	.group-local .card h2,
	.group-detail-inner .card h2 {
		width: 100%;
	}

	.group .card a {
		margin: 10px 0px;
		display: block;
	}

	.group .info-title,
	.group .content-title {
		width: 100%;
	}

	.group .data-title {
		width: calc(50% - 5px);
	}

	.group-detail .content .order-amount,
	.group-local .content .order-amount {
		float: none;
		margin-bottom: 15px;
	}

	.group-detail .content form button,
	.group-local .content form button {
		float: none;
		padding: 15px 10px;
		border-radius: var(--mediumRadius2);
		height: 50px;
	}

	.group-local .orders.delivery .introduction-data button,
	.group-detail-inner .orders.delivery .introduction-data button {
		margin-top: 20px;
	}

	.group-detail .content form .order-amount div,
	.group-detail .content form .order-amount input,
	.group-local .content form .order-amount div,
	.group-local .content form .order-amount div.less,
	.group-local .content form .order-amount input,
	.group-detail-inner .content form .order-amount div,
	.group-detail-inner .content form .order-amount input {
		padding: 20px 10px;
		height: 50px;
		border-radius: var(--mediumRadius2);
	}

	.group-detail .grid,
	.group-local .grid,
	.group-local .orders.delivery .grid,
	.group-detail-inner .grid,
	.group-detail-inner .orders.delivery .grid {
		grid-template-columns: 1fr;
	}

	.group-detail .intro-orders h3,
	.group-local .intro-orders h3,
	.group-detail-inner .intro-orders h3 {
		border: none;
		padding: 10px;
	}

	.group-detail .order-description div,
	.group-local .order-description div,
	.group-detail-inner .order-description div {
		border-right: 0px;
		padding: 15px 10px;
	}

	.group-detail .order-description div:nth-child(3) span,
	.group-local .order-description div:nth-child(3) span,
	.group-detail-inner .order-description div:nth-child(3) span {
		padding: 5px;
	}

	.group .path a:after,
	.group-detail .path a:after,
	.group-local .path a:after,
	.group-detail-inner .path a:after {
		margin-left: 10px;
		margin-top: 0px;
	}

	.group-local .orders.delivery .position-container,
	.group-detail-inner .orders.delivery .position-container {
		position: relative;
		padding: 0px;
	}

	.group-local .orders.delivery .content-container,
	.group-detail-inner .orders.delivery .content-container {
		padding: 20px;
	}

	.group-local .orders.delivery .not-sent-options,
	.group-detail-inner .orders.delivery .not-sent-options {
		margin-top: 20px;
	}

	.group-local .orders.delivery .position-container .tag-status,
	.group-local .orders.delivery .not-sent-options,
	.group-detail-inner .orders.delivery .position-container .tag-status,
	.group-detail-inner .orders.delivery .not-sent-options {
		float: none;
		padding: 0px;
	}

	.group-local .orders.delivery .order-description .content-container:nth-child(3) span:nth-child(2),
	.group-detail-inner .orders.delivery .order-description .content-container:nth-child(3) span:nth-child(2) {
		margin-top: 6px;
	}

	.group-local .orders.delivery .not-sent-options button:before,
	.group-detail-inner .orders.delivery .not-sent-options button:before {
		margin-top: 0px;
	}

	.group-local .orders .content-container,
	.group-detail-inner .orders .content-container {
		border-right: 0px;
	}

	.group-detail-inner .up,
	.group-detail .up,
	.group-local .up,
	.group .up {
		right: initial;
	}

	.group .path a:after,
	.group-detail .path a:after,
	.group-detail-inner .path a:after,
	.group-local .path a:after {
		width: 8px;
		height: 10px;
		margin-top: -1px;
	}
}