header {
	padding: 40px;
	position: relative;
	background-color: white;
}

header div {
	height: 40px;
	margin: 0 auto;
	width: max-content;
}

header .logout {
	position: absolute;
	right: 40px;
	text-transform: uppercase;
	color: var(--orange);
	transition: var(--transitionMedium);
	top: 50px;
	text-decoration: none;
	line-height: 1.5em;
	font-size: var(--font5);
	font-family: var(--NestleText-Book);
	opacity: 80%;
	cursor: pointer;
}

header .logout:hover {
	text-decoration: underline;
}


header .logout:after {
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url(../assets/logout-icon.svg);
	width: 20px;
	content: "";
	height: 20px;
	display: block;
	float: right;
	margin-left: 10px;
}

header div img {
	height: 100%;
	width: auto;
}

header .logout {
	position: absolute;
	right: 40px;
	text-transform: uppercase;
	color: var(--orange);
	transition: var(--transitionMedium);
	top: 50px;
	text-decoration: none;
	line-height: 1.5em;
	font-size: var(--font5);
	font-family: var(--NestleText-Book);
	opacity: 80%;
	cursor: pointer;
}

footer .logout:hover {
	text-decoration: underline;
}

footer .logout:after {
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url(../assets/logout-icon.svg);
	width: 20px;
	content: "";
	height: 20px;
	display: block;
	float: right;
	margin-left: 10px;
}

footer .logout {
	text-transform: uppercase;
	color: var(--orange);
	transition: var(--transitionMedium);
	text-decoration: none;
	line-height: 1.5em;
	float: right;
	font-size: var(--font2);
	font-family: var(--NestleText-Book);
	opacity: 80%;
	display: block;
	cursor: pointer;
	text-align: end;
}

footer {
	display: none;
	padding: 30px 20px;
	overflow: hidden;
}

.login {
	position: relative;
	max-width: calc(100vw - 100px);
	margin: 0 auto;
	min-height: calc(100vh - 120px);
}

.login form {
	width: 520px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 50px;
	border-radius: var(--bigRadius);
}

.login form input:focus,
.login form input:hover {
	border: 3px solid var(--focus);
	outline: none;
}

.login form h1 {
	line-height: 1.5em;
	font-size: var(--font1);
	font-family: var(--NestleText-Bold);
	margin-bottom: 30px;
}

.login form label {
	line-height: 1.6em;
	font-size: var(--font5);
	font-family: var(--NestleText-Bold);
	margin-bottom: 20px;
	position: relative;
	z-index: 2;
	display: block;
	text-transform: uppercase;
}

.login form input {
	padding: 20px;
	border: 3px solid var(--borderInput);
	border-radius: var(--mediumRadius1);
	width: 100%;
	position: relative;
	z-index: 2;
	transition: var(--transitionMedium);
	font-size: var(--font5);
	font-family: var(--NestleText-Book);
}

.login form .containerForm {
	margin-bottom: 30px;
	position: relative;
}

.login form input::placeholder {
	color: var(--darkBrown);
	font-family: var(--NestleText-Book);
	font-size: var(--font5);
	opacity: 60%;
}

.login form button {
	border-radius: var(--bigRadius);
	font-family: var(--NestleText-Book);
	font-size: var(--font4);
	background-color: var(--brown);
	transition: var(--transitionMedium);
	border: none;
	width: 100%;
	text-transform: uppercase;
	padding: 20px;
	color: white;
	cursor: pointer;
}

.login form button:hover {
	background-color: var(--orange);
}

.login form .password-eye {
	position: relative;
}

.login form .password-eye .eye {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../assets/eye.svg);
	width: 20px;
	height: 15px;
	background-position: center;
	display: block;
	transform: translate(0%, -50%);
	right: 15px;
	position: absolute;
	z-index: 3;
	top: 50%;
	transition: var(--transitionMedium);
	cursor: pointer;
}

.eyesOff .login form .password-eye .eye {
	background-image: url(../assets/eye-closed.svg);
}

.login form .wrong-field {
	margin-top: 20px;
	background-color: var(--error);
	padding: 10px;
	border-radius: var(--mediumRadius1);
	transition: var(--transitionMedium);
	opacity: 0%;
	top: -40px;
	position: absolute;
}

.login form .wrong-field.active {
	opacity: 100%;
	top: 0px;
	position: relative
}

.login form .wrong-field p {
	color: white;
	font-family: var(--NestleText-Book);
	font-size: var(--font5);
	line-height: 1.5em;
	position: relative;
	width: 100%;
	padding-left: 30px;
}

.login form .wrong-field p:before {
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url(../assets/error-icon.svg);
	width: 20px;
	content: "";
	height: 20px;
	display: block;
	transform: translate(0%, -50%);
	left: 0px;
	top: 50%;
	position: absolute;
}

.login input.loginError {
	border: 3px solid var(--error);
}

.campaigns,
.group,
.group-detail,
.group-detail-inner,
.group-local {
	padding-top: 100px;
	max-width: calc(100vw - 100px);
	width: 1600px;
	padding-bottom: 40px;
	margin: 0 auto;
	min-height: 100vh;
}

.campaigns h1,
.group h1 {
	line-height: 1.5em;
	font-size: var(--font1);
	font-family: var(--NestleText-Bold);
	margin-bottom: 40px;
}

.group .content-title {
	float: left;
}

.campaigns .content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	padding-bottom: 50px;
	width: 100%;
}

.campaigns .card,
.group .card,
.group-detail .card,
.group-local .card {
	border-radius: var(--bigRadius);
	padding: 40px;
	background-color: white;
	overflow: hidden;
}

.group-detail .card,
.group-local .card {
	background-color: transparent;
	padding: 0px;
	border-radius: 0px;
}

.campaigns .card .title h2,
.group .card h2,
.group-detail .card h2,
.group-local .card h2 {
	font-size: var(--font2);
	font-family: var(--NestleText-Bold);
	line-height: 1.3em;
	float: left;
	width: calc(100% - 120px);
}

.campaigns .card .title h2 {
	height: 50px;
}


.group .card h2,
.group-detail .card h2,
.group-local .card h2 {
	float: none;
	margin-bottom: 5px;
}

.campaigns .card .title {
	overflow: hidden;
	margin-bottom: 30px;
}

.campaigns .card .title a,
.group .card a {
	float: right;
	color: var(--orange);
	text-transform: uppercase;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
	width: 110px;
	font-size: var(--font5);
	font-family: var(--NestleText-Book);
	transition: var(--transitionMedium);
	line-height: 1.8em;
}

.campaigns .card .title a {
	text-align: right;
}

.group .card a {
	float: left;
	line-height: 1.3em;
}

.group .card .first-content,
.group .card .final-content,
.group-detail .card .final-content,
.group-local .card .final-content {
	overflow: hidden;
}

.group .card .content-wrapper:nth-child(1) p:nth-child(2),
.group-detail .card .content-wrapper:nth-child(1) p:nth-child(2),
.group-local .card .content-wrapper:nth-child(1) p:nth-child(2) {
	font-size: var(--font4);
	font-family: var(--NestleText-Book);
	line-height: 1.8em;
	color: var(--darkBrown);
	margin-bottom: 30px;
}

.group .card .content-wrapper:nth-child(1) p:nth-child(3),
.group-detail .card .content-wrapper:nth-child(1) p:nth-child(3),
.group-local .card .content-wrapper:nth-child(1) p:nth-child(3) {
	font-size: var(--font5);
	font-family: var(--NestleText-Book);
	margin-bottom: 25px;
	opacity: 50%;
	line-height: 1.5em;
}

.campaigns .card .title a:hover,
.group .card a:hover {
	text-decoration: underline;
}

.campaigns .card .infos,
.group .card .infos,
.group-detail .card .infos,
.group-local .card .infos,
.group .info-title {
	overflow: hidden;
	margin-bottom: 24px;
}

.group .card .content-wrapper .infos,
.group-detail .card .content-wrapper .infos,
.group-local .card .content-wrapper .infos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
	width: 100%;
}

.campaigns .card .infos .data,
.group .card .infos .data,
.group-detail .card .infos .data,
.group-local .card .infos .data,
.group .data-title {
	float: left;
	width: calc(50% - 5px);
	padding: 30px 10px;
	border-radius: var(--mediumRadius2);
	border: 2px solid var(--borderInput);
	text-align: center;
}

.group .card .infos .data,
.group-detail .card .infos .data,
.group-local .card .infos .data {
	width: 100%;
}

.group-detail .card .infos .data,
.group-local .card .infos .data {
	background-color: var(--grey-background);
}

.group .data-title {
	margin-right: 10px;
	width: 170px;
	border: none;
	background-color: var(--grey-background);
}

.group .card .infos .data:last-child,
.group-detail .card .infos .data:last-child,
.group-local .card .infos .data:last-child,
.group .data-title:last-child {
	margin-right: 0px;
}

.group .data-title:last-child {
	margin-right: 0px;
	float: right;
}

.group .info-title {
	width: max-content;
	float: right;
}

.campaigns .card .infos .data h3,
.group .card .infos .data h3,
.group-detail .card .infos .data h3,
.group-local .card .infos .data h3,
.group .info-title .data-title h3 {
	font-family: var(--NestleText-Book);
}

.campaigns .card .infos .data h3:nth-child(1) {
	font-size: var(--font1);
	margin-bottom: 10px;
	color: var(--darkBrown);
}

.group .data-title h3:nth-child(1),
.group .card .infos .data h3:nth-child(1),
.group-detail .card .infos .data h3:nth-child(1),
.group-local .card .infos .data h3:nth-child(1) {
	font-size: var(--font2);
	margin-bottom: 10px;
	color: var(--darkBrown);
}

.campaigns .card .infos .data h3:nth-child(2) {
	font-size: var(--font3);
	text-transform: uppercase;
	color: var(--darkBrown);
}

.group .info-title .data-title h3:nth-child(2),
.group .card .infos .data h3:nth-child(2),
.group-detail .card .infos .data h3:nth-child(2),
.group-local .card .infos .data h3:nth-child(2) {
	font-size: var(--font5);
	color: var(--darkBrown);
	text-transform: uppercase;
}

.campaigns .card .infos .data:nth-child(2),
.campaigns .info-title .data-title:nth-child(2) {
	float: right;
}

.campaigns .card .update,
.group .card .update,
.group-detail .card .update,
.group-local .card .update {
	text-align: end;
	color: var(--darkBrown);
	opacity: 40%;
	line-height: 1.3em;
	font-size: var(--font4);
	font-family: var(--NestleText-Book);
}

.group .card .update,
.group-detail .card .update,
.group-local .card .update {
	float: right;
}

.group .card {
	margin-top: 20px;
	overflow: hidden;
}

.group .card:nth-child(1) {
	margin-bottom: 0px;
}

.group .card .content-wrapper:nth-child(1),
.group-detail .card .content-wrapper:nth-child(1),
.group-local .card .content-wrapper:nth-child(1) {
	float: left;
	width: calc(50% - 10px);
	margin-right: 10px;
}

.group .card .content-wrapper:nth-child(2),
.group-detail .card .content-wrapper:nth-child(2),
.group-local .card .content-wrapper:nth-child(2) {
	float: right;
	width: 50%;
}

.group .path,
.group-detail .path,
.group-detail-inner .path,
.group-local .path {
	overflow: hidden;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.group .path a,
.group-detail .path a,
.group-detail-inner .path a,
.group-local .path a {
	font-size: var(--font5);
	font-family: var(--NestleText-Book);
	float: left;
	text-decoration: none;
	color: var(--orange);
	transition: var(--transitionMedium);
	margin-right: 10px;
}

.group .path a:hover,
.group-detail .path a:hover,
.group-detail-inner .path a:hover,
.group-local .path a:hover {
	text-decoration: underline;
}

.group-detail-inner .intro p {
	display: block;
	font-size: var(--font4);
	font-family: var(--NestleText-Book);
	margin-bottom: 10px;
	color: var(--darkBrown);
}

.group .path p,
.group-detail .path p,
.group-detail-inner .path p,
.group-local .path p {
	float: left;
	font-family: var(--NestleText-Book);
	color: var(--traditional-grey);
	font-size: var(--font5);
}

.group .path a:after,
.group-detail .path a:after,
.group-detail-inner .path a:after,
.group-local .path a:after {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	background-image: url(../assets/arrow-right.svg);
	width: 12px;
	content: "";
	height: 12px;
	display: block;
	margin-top: 2px;
	float: right;
	margin-left: 10px;
}

.group .title {
	overflow: hidden;
}

.campaigns .data-title {
	float: left;
	width: calc(50% - 5px);
	padding: 30px;
	border-radius: var(--mediumRadius2);
	border: 2px solid var(--borderInput);
	text-align: center;
	margin-bottom: 24px;
}

.group-detail .content form .order-amount,
.group-local .content form .order-amount {
	overflow: hidden;
	float: left;
	margin-right: 20px;
}

.group-detail .content form button,
.group-local .content form button,
.group-local .orders.delivery .introduction-data button,
.group-detail-inner .orders.delivery .introduction-data button,
.group-detail-inner .up,
.group-detail .up,
.group-local .up,
.group .up {
	float: left;
	border-radius: var(--bigRadius);
	padding: 30px 40px;
	font-family: var(--NestleText-Book);
	font-size: var(--font4);
	display: block;
	text-decoration: none;
	cursor: pointer;
	border: none;
	background-color: var(--brown);
	color: white;
	text-transform: uppercase;
	transition: var(--transitionMedium);
	line-height: 1em;
}

.group-detail .content form button:hover,
.group-local .content form button:hover,
.group-local .content form .order-amount div.more.active:hover,
.group-local .content form .order-amount div.less:hover,
.group-local .orders.delivery .introduction-data button:hover,
.group-detail-inner .orders.delivery .introduction-data button:hover,
.group-detail-inner .up:hover,
.group-detail .up:hover,
.group-local .up:hover,
.group .up:hover {
	background-color: var(--orange);
}

.group-local .content form .order-amount div.less.disabled:hover {
	background-color: var(--brown);
}

.group-detail .content form,
.group-local .content form {
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 60px;
}

.group-detail .content form .order-amount div,
.group-local .content form .order-amount div,
.group-detail-inner .paginate .paginator div,
.group-detail-inner .paginate p {
	float: left;
}

.group-detail-inner .paginate p:hover {
	background-color: var(--paginateHover);
	opacity: 100%;
}

.group-detail .content form .order-amount div,
.group-local .content form .order-amount div,
.group-local .content form .order-amount div.less,
.group-detail-inner .paginate div.less,
.group-detail-inner .paginate div.more,
.group-detail-inner .paginate p {
	background-repeat: no-repeat;
	background-size: 23px 23px;
	background-position: center;
	padding: 28px 15px;
	height: 73px;
	cursor: pointer;
	transition: var(--transitionMedium);
	width: 73px;
	background-color: var(--paginators);
	border-radius: var(--bigRadius);
}

.group-detail .content form .order-amount div,
.group-local .content form .order-amount div,
.group-local .content form .order-amount div.less {
	background-color: var(--brown);
}

.group-detail-inner .paginate div.less,
.group-detail-inner .paginate div.more,
.group-detail-inner .paginate p {
	border-radius: var(--mediumRadius2);
}

.group-detail-inner .paginate p {
	margin-right: 10px;
	text-align: center;
	vertical-align: middle;
}

.group-detail-inner .paginate p:last-child {
	margin-right: 0px
}

.group-detail .content form .order-amount .active.more:hover,
.group-detail .content form .order-amount .active.less:hover,
.group-detail-inner .paginate .active.less:hover,
.group-detail-inner .paginate .active.more:hover,
.group-detail-inner .paginate p:hover {
	background-color: var(--orange);
	color: white;
}

.group-detail-inner .paginate p.active,
.group-detail-inner .paginate div.more.active,
.group-detail-inner .paginate div.less.active,
.group-detail .content form .order-amount div.less.active,
.group-local .content form .order-amount div.more.active {
	background-color: var(--brown);
	color: white;
}

.group-detail-inner .paginate div.less {
	background-image: url(../assets/arrow-left-paginator.svg);
}

.group-detail-inner .paginate div.more {
	background-image: url(../assets/arrow-right-paginator.svg);
}

.group-detail .content form .order-amount div.less,
.group-local .content form .order-amount div.less {
	background-image: url(../assets/less.svg);
}

.group-detail .content form .order-amount div.less.disabled,
.group-local .content form .order-amount div.less.disabled {
	cursor: default;
	opacity: 20%;
}

.group-detail .content form .order-amount div.more,
.group-local .content form .order-amount div.more {
	background-image: url(../assets/more.svg);
}

.group-detail .content form .order-amount input,
.group-local .content form .order-amount input {
	width: 100px;
	border-radius: var(--bigRadius);
	border: 2px solid var(--brown);
	height: 73px;
	transition: var(--transitionMedium);
	float: left;
	margin: 0px 10px;
	font-family: var(--NestleText-Book);
	font-size: var(--font4);
	padding: 20px;
	color: var(--darkBrown);
	text-align: center;
}

.group-detail .content form .order-amount input::placeholder,
.group-local .content form .order-amount input::placeholder {
	color: var(--darkBrown);
	font-family: var(--NestleText-Book);
	font-size: var(--font4);
}

.group-detail .orders,
.group-detail-inner .orders,
.group-local .orders {
	padding-bottom: 45px;
}

.group-detail .title-orders,
.group-local .title-orders,
.group-detail-inner .title-orders {
	overflow: hidden;
	margin-bottom: 20px;
}

.group-detail .title-orders h2,
.group-detail-inner .title-orders h2,
.group-local .title-orders h2 {
	font-family: var(--NestleText-Bold);
	font-size: var(--font2);
	float: left;
	color: black;
}

.group-detail .title-orders p,
.group-local .title-orders p,
.group-detail-inner .title-orders p {
	font-family: var(--NestleText-Book);
	font-size: var(--font4);
	color: black;
	opacity: 40%;
	float: left;
	margin-left: 15px;
	line-height: 1.5em;
}

.group-detail .grid,
.group-local .grid,
.group-detail-inner .grid {
	display: grid;
	grid-template-columns: 1fr 3fr 0.5fr 0.4fr;
}

.group-local .orders.delivery .grid,
.group-detail-inner .orders.delivery .grid {
	grid-template-columns: 1fr 2.5fr 1.5fr
}

.group-detail .order-description,
.group-local .order-description,
.group-detail-inner .order-description {
	border: 2px solid var(--greyBorder);
	border-top: none;
}

.group-detail .order-description:last-child,
.group-local .order-description:last-child,
.group-detail-inner .order-description:last-child {
	border-radius: 0px 0px 5px 5px;
}

.group-detail .order-description .content-container,
.group-local .order-description .content-container,
.group-detail-inner .order-description .content-container {
	padding: 15px 20px;
	position: relative;
	border-right: 2px solid var(--greyBorder);
	font-size: var(--font6);
	font-family: var(--NestleText-Book);
	background-color: white;
	color: var(--darkBrown);
	overflow: hidden;
}

.group-detail .order-description .content-container:nth-child(3),
.group-local .order-description .content-container:nth-child(3),
.group-detail-inner .order-description .content-container:nth-child(3) {
	padding: 5px 20px;
}

.group-detail .order-description .content-container p,
.group-detail .order-description .content-container .position-container,
.group-local .order-description .content-container p,
.group-detail-inner .order-description .content-container p,
.group-local .order-description .content-container .position-container,
.group-detail-inner .order-description .content-container .position-container {
	line-height: 1.5em;
}

.group-detail .order-description .content-container:last-child,
.group-local .order-description .content-container:last-child,
.group-detail-inner .order-description .content-container:last-child {
	border: none;
}

.delivery .group-detail .order-description .content-container:last-child,
.delivery .group-local .order-description .content-container:last-child,
.delivery .group-detail-inner .order-description .content-container:last-child {
	padding: 15px 20px;
}

.group-detail .intro-orders,
.group-detail-inner .intro-orders,
.group-local .intro-orders {
	border-radius: 5px;
	overflow: hidden;
}

.group-detail .intro-orders h3,
.group-detail-inner .intro-orders h3,
.group-local .intro-orders h3 {
	background-color: var(--brown);
	font-family: var(--NestleText-Book);
	font-size: var(--font5);
	text-transform: uppercase;
	padding: 20px;
	color: white;
	border-right: 2px solid var(--brownBorder);
}

.group-detail .intro-orders h3:last-child,
.group-local .intro-orders h3:last-child,
.group-detail-inner .intro-orders h3:last-child {
	border-right: none;
}

.group-detail .orders a,
.group-detail-inner .orders a,
.group-local .orders a {
	display: block;
	color: var(--orange);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	width: 110px;
	font-size: var(--font5);
	font-family: var(--NestleText-Book);
	transition: var(--transitionMedium);
	line-height: 1.8em;
	margin-top: 20px;
}

.group-detail .orders a:hover,
.group-local .orders a:hover,
.group-detail-inner .orders a:hover {
	text-decoration: underline;
}

.group-detail .order-description .content-container:nth-child(3) span,
.group-local .order-description .content-container:nth-child(3) span:nth-child(1),
.group-detail-inner .order-description .content-container:nth-child(3) span:nth-child(1) {
	width: max-content;
	display: block;
	padding: 12px;
	color: white;
	border-radius: 5px;
}

.group-local .orders.delivery .order-description .content-container:nth-child(3) span:nth-child(1),
.group-detail-inner .orders.delivery .order-description .content-container:nth-child(3) span:nth-child(1) {
	background-color: var(--blueTag);
}

.group-local .orders.delivery .order-description .content-container:nth-child(3) span:nth-child(1),
.group-detail-inner .orders.delivery .order-description .content-container:nth-child(3) span:nth-child(1) {
	margin-right: 10px;
	float: left
}

.group-local .orders.delivery .order-description.canceled .content-container:nth-child(3) span:nth-child(1),
.group-detail-inner .orders.delivery .order-description.canceled .content-container:nth-child(3) span:nth-child(1) {
	background-color: var(--redTag);
}

.group-local .orders.delivery .order-description.canceled .content-container:nth-child(3) span:nth-child(2),
.group-detail-inner .orders.delivery .order-description.canceled .content-container:nth-child(3) span:nth-child(2) {
	float: left
}

.group-local .orders.delivery .order-description .content-container:nth-child(3) span:nth-child(2),
.group-detail-inner .orders.delivery .order-description .content-container:nth-child(3) span:nth-child(2) {
	float: left;
	margin-top: 12px;
}

.group-local .orders.delivery .order-description.not-sent .content-container:nth-child(3) span:nth-child(2),
.group-detail-inner .orders.delivery .order-description.not-sent .content-container:nth-child(3) span:nth-child(2) {
	float: left
}

.group-local .orders.delivery .order-description.not-sent .content-container:nth-child(3) span:nth-child(1),
.group-detail-inner .orders.delivery .order-description.not-sent .content-container:nth-child(3) span:nth-child(1) {
	background-color: var(--orangeTag);
}

.group-detail .orders.pending .order-description .content-container:nth-child(3) span,
.group-local .orders.pending .order-description .content-container:nth-child(3) span,
.group-detail-inner .orders.pending .order-description .content-container:nth-child(3) span {
	background-color: var(--yellowTag);
}

.group-detail .orders.sent .order-description .content-container:nth-child(3) span,
.group-local .orders.sent .order-description .content-container:nth-child(3) span,
.group-detail-inner .orders.sent .order-description .content-container:nth-child(3) span {
	background-color: var(--greenTag);
}

.group-detail .orders.canceled .order-description .content-container:nth-child(3) span,
.group-local .orders.canceled .order-description .content-container:nth-child(3) span,
.group-detail-inner .orders.canceled .order-description .content-container:nth-child(3) span {
	background-color: var(--redTag);
}

.group-detail .content .order-amount input:hover,
.group-detail .content .order-amount input:focus,
.group-local .content .order-amount input:hover,
.group-local .content .order-amount input:focus {
	border: 2px solid var(--focus);
	outline: none;
}

.group-local .orders.delivery .tabs,
.group-detail-inner .orders.delivery .tabs {
	overflow: hidden;
}

.group-local .orders.delivery .tabs h3,
.group-detail-inner .orders.delivery .tabs h3 {
	float: left;
	font-size: var(--font5);
	text-transform: uppercase;
	cursor: pointer;
	color: var(--orange);
	transition: var(--transitionMedium);
	font-family: var(--NestleText-Book);
}

.group-local .orders.delivery .tabs h3:hover,
.group-detail-inner .orders.delivery .tabs h3:hover {
	text-decoration: underline;
}

.group-local .orders.delivery .tabs h3.active,
.group-detail-inner .orders.delivery .tabs h3.active {
	color: var(--brown);
	cursor: default;
}

.group-local .orders.delivery .tabs h3.active:hover,
.group-detail-inner .orders.delivery .tabs h3.active:hover {
	text-decoration: none;
}

.group-local .orders.delivery .tabs h3:nth-child(1),
.group-detail-inner .orders.delivery .tabs h3:nth-child(1) {
	margin-right: 15px;
}

.group-local .orders.delivery .introduction-data,
.group-detail-inner .orders.delivery .introduction-data {
	overflow: hidden;
	margin-bottom: 20px;
}

.group-local .orders.delivery .first-data,
.group-detail-inner .orders.delivery .first-data {
	float: left;
}

.group-local .orders.delivery .introduction-data button,
.group-detail-inner .orders.delivery .introduction-data button {
	float: right
}

.group-local .orders.delivery .not-sent-options,
.group-detail-inner .orders.delivery .not-sent-options {
	overflow: hidden;
	float: right;
	margin-top: 13px;
}

.group-local .orders.delivery .not-sent-options button,
.group-detail-inner .orders.delivery .not-sent-options button {
	float: left;
	border: none;
	background-color: transparent;
	color: var(--optionButton);
	font-size: var(--font6);
	padding: 0px;
	transition: var(--transitionMedium);
	cursor: pointer;
	text-transform: uppercase;
	font-family: var(--NestleText-Book);
}

.group-local .orders.delivery .not-sent-options button:hover,
.group-detail-inner .orders.delivery .not-sent-options button:hover {
	text-decoration: underline;
}


.group-local .orders.delivery .not-sent-options button:before,
.group-detail-inner .orders.delivery .not-sent-options button:before {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 10px;
	content: "";
	height: 12px;
	display: block;
	margin-top: 2.2px;
	float: left;
	margin-right: 5px;
}

.group-local .orders.delivery .not-sent-options button:nth-child(1):before,
.group-detail-inner .orders.delivery .not-sent-options button:nth-child(1):before {
	background-image: url(../assets/clock-table.svg);
}

.group-local .orders.delivery .not-sent-options button:nth-child(2):before,
.group-detail-inner .orders.delivery .not-sent-options button:nth-child(2):before {
	background-image: url(../assets/canceled-table.svg);
}

.group-local .orders.delivery .not-sent-options button:nth-child(1),
.group-detail-inner .orders.delivery .not-sent-options button:nth-child(1) {
	margin-right: 10px;
}

.group-local .orders.delivery .position-container,
.group-detail-inner .orders.delivery .position-container {
	overflow: hidden;
	width: 100%;
}

.group-local .orders.delivery .position-container .tag-status,
.group-detail-inner .orders.delivery .position-container .tag-status {
	overflow: hidden;
	float: left
}

.delivery .group-local .container-orders.order-table,
.delivery .group-detail-inner .container-orders.order-table {
	display: none;
}

.group-local .container-orders.delivery-table,
.group-detail-inner .container-orders.delivery-table {
	display: none;
}

.delivery .group-local .container-orders.delivery-table,
.delivery .group-detail-inner .container-orders.delivery-table {
	display: block;
}

.group-detail-inner .intro h2 {
	display: block;
	font-size: var(--font1);
	font-family: var(--NestleText-Bold);
	margin-bottom: 10px;
	color: var(--darkBrown);
}

.group-detail-inner .intro .title {
	margin-bottom: 40px;
}

.group-detail-inner .paginate {
	overflow: hidden;
	position: relative;
	padding-bottom: 100px;
}

.group-detail-inner .paginator {
	overflow: hidden;
	width: max-content;
	margin: 0 auto;
}

.group-detail-inner .pages {
	overflow: hidden;
	margin: 0 40px;
}

.group-detail-inner .paginate a {
	display: block;
	float: none;
	text-decoration: none;
}

.group-detail-inner .up,
.group-detail .up,
.group-local .up,
.group .up {
	position: fixed;
	bottom: -10%;
	right: 20px;
	opacity: 0;
	z-index: 6;
	transition: opacity 0.3s ease, transform 0.3s ease, all 1s;
	transform: rotate(90deg);
	width: 40px;
	border-radius: 50%;
	padding: 30px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	background-image: url(../assets/arrow-white-left.svg);
	cursor: pointer;
	pointer-events: none;
}

.group-detail-inner .up.active,
.group-detail .up.active,
.group-local .up.active,
.group .up.active {
	opacity: 1;
	bottom: 20px;
	pointer-events: auto;
}